@{
    ViewBag.Title = "Home Page";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="/content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/content/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/content/css/creative.css" rel="stylesheet">
<style>
    .answered-score {
        display: none;    
    } 
    .testimonial {
        margin-bottom: 10px;
    }
    .row {
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    }
    .mb-0 {
        padding-top: 6px;
    }
    .service-box {
        padding-top: 6px;
    }
    .testimonial-section {
        width: 100%;
        height: auto;
        padding: 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        position: relative;
        border: 1px solid #fff;
    }

    .testimonial-section:after {
        top: 100%;
        left: 50px;
        border: solid transparent;
        content: " ";
        position: absolute;
        border-top-color: #fff;
        border-width: 15px;
        margin-left: -15px;
    }

    .testimonial-desc {
        margin-top: 20px;
        text-align: left;
        border:1px solid rgba(0,0,0,.1);
    }

    .testimonial-desc:hover {
        background: #ece7e7;
    }

    .testimonial-desc img {
        border: 1px solid #f5f5f5;
        border-radius: 150px;
        height: 70px;
        padding: 3px;
        width: 70px;
        display: inline-block;
        vertical-align: top;
    }

    .testimonial-writer {
        display: inline-block;
        vertical-align: top;
        padding-left: 10px;
    }

    .testimonial-writer-name {
        font-weight: bold;
    }

    .testimonial-writer-designation {
        font-size: 85%;
    }

    .testimonial-writer-company {
        font-size: 85%;
    }
    /*---- Outlined Styles ----*/
    .testimonial.testimonial-default {
    }

    .testimonial.testimonial-default .testimonial-section {
        border-color: #777;
    }

    .testimonial.testimonial-default .testimonial-section:after {
        border-top-color: #777;
    }

    .testimonial.testimonial-default .testimonial-desc {
    }

    .testimonial.testimonial-default .testimonial-desc img {
        border-color: #777;
    }

    .testimonial.testimonial-default .testimonial-writer-name {
        color: #777;
    }

    .testimonial.testimonial-primary {
    }

    .testimonial.testimonial-primary .testimonial-section {
        border-color: #337AB7;
        color: #286090;
        background-color: rgba(51, 122, 183, 0.1);
    }

    .testimonial.testimonial-primary .testimonial-section:after {
        border-top-color: #337AB7;
    }

    .testimonial.testimonial-primary .testimonial-desc {
    }

    .testimonial.testimonial-primary .testimonial-desc img {
        border-color: #337AB7;
    }

    .testimonial.testimonial-primary .testimonial-writer-name {
        color: #337AB7;
    }

    .testimonial.testimonial-info {
    }

    .testimonial.testimonial-info .testimonial-section {
        border-color: #5BC0DE;
        color: #31b0d5;
        background-color: rgba(91, 192, 222, 0.1);
    }

    .testimonial.testimonial-info .testimonial-section:after {
        border-top-color: #5BC0DE;
    }

    .testimonial.testimonial-info .testimonial-desc {
    }

    .testimonial.testimonial-info .testimonial-desc img {
        border-color: #5BC0DE;
    }

    .testimonial.testimonial-info .testimonial-writer-name {
        color: #5BC0DE;
    }


    .testimonial.testimonial-success {
    }

    .testimonial.testimonial-success .testimonial-section {
        border-color: #5CB85C;
        color: #449d44;
        background-color: rgba(92, 184, 92, 0.1);
    }

    .testimonial.testimonial-success .testimonial-section:after {
        border-top-color: #5CB85C;
    }

    .testimonial.testimonial-success .testimonial-desc {
    }

    .testimonial.testimonial-success .testimonial-desc img {
        border-color: #5CB85C;
    }

    .testimonial.testimonial-success .testimonial-writer-name {
        color: #5CB85C;
    }

    .testimonial.testimonial-warning {
    }

    .testimonial.testimonial-warning .testimonial-section {
        border-color: #F0AD4E;
        color: #d58512;
        background-color: rgba(240, 173, 78, 0.1);
    }

    .testimonial.testimonial-warning .testimonial-section:after {
        border-top-color: #F0AD4E;
    }

    .testimonial.testimonial-warning .testimonial-desc {
    }

    .testimonial.testimonial-warning .testimonial-desc img {
        border-color: #F0AD4E;
    }

    .testimonial.testimonial-warning .testimonial-writer-name {
        color: #F0AD4E;
    }

    .testimonial.testimonial-danger {
    }

    .testimonial.testimonial-danger .testimonial-section {
        border-color: #D9534F;
        color: #c9302c;
        background-color: rgba(217, 83, 79, 0.1);
    }

    .testimonial.testimonial-danger .testimonial-section:after {
        border-top-color: #D9534F;
    }

    .testimonial.testimonial-danger .testimonial-desc {
    }

    .testimonial.testimonial-danger .testimonial-desc img {
        border-color: #D9534F;
    }

    .testimonial.testimonial-danger .testimonial-writer-name {
        color: #D9534F;
    }
   .prevBtn {
    width: 23%;
    position: relative;
    left: 10%;
    font-weight: 600;
    top: 20px;
    background-color: #2c97de;
    color: white;
    border: none;
    border-radius: 0px;
}

    /*---- Filled Styles ----*/
    .testimonial.testimonial-default-filled {
    }

    .testimonial.testimonial-default-filled .testimonial-section {
        color: #fff;
        border-color: #777;
        background-color: #777;
    }

    .testimonial.testimonial-default-filled .testimonial-section:after {
        border-top-color: #777;
    }

    .testimonial.testimonial-default-filled .testimonial-desc {
    }

    .testimonial.testimonial-default-filled .testimonial-desc img {
        border-color: #777;
        background-color: #777;
    }

    .testimonial.testimonial-default-filled .testimonial-writer-name {
        color: #777;
    }

    .testimonial.testimonial-primary-filled {
    }

    .testimonial.testimonial-primary-filled .testimonial-section {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }

    .testimonial.testimonial-primary-filled .testimonial-section:after {
        border-top-color: #337AB7;
    }

    .testimonial.testimonial-primary-filled .testimonial-desc {
    }

    .testimonial.testimonial-primary-filled .testimonial-desc img {
        border-color: #2e6da4;
        background-color: #337ab7;
    }

    .testimonial.testimonial-primary-filled .testimonial-writer-name {
        color: #337AB7;
    }

    .testimonial.testimonial-info-filled {
    }

    .testimonial.testimonial-info-filled .testimonial-section {
        color: #fff;
        background-color: #5bc0de;
        border-color: #46b8da;
    }

    .testimonial.testimonial-info-filled .testimonial-section:after {
        border-top-color: #5BC0DE;
    }

    .testimonial.testimonial-info-filled .testimonial-desc {
    }

    .testimonial.testimonial-info-filled .testimonial-desc img {
        border-color: #46b8da;
        background-color: #5bc0de;
    }

    .testimonial.testimonial-info-filled .testimonial-writer-name {
        color: #5BC0DE;
    }


    .testimonial.testimonial-success-filled {
    }

    .testimonial.testimonial-success-filled .testimonial-section {
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
    }

    .testimonial.testimonial-success-filled .testimonial-section:after {
        border-top-color: #5CB85C;
    }

    .testimonial.testimonial-success-filled .testimonial-desc {
    }

    .testimonial.testimonial-success-filled .testimonial-desc img {
        border-color: #4cae4c;
        background-color: #5cb85c;
    }

    .testimonial.testimonial-success-filled .testimonial-writer-name {
        color: #5CB85C;
    }

    .testimonial.testimonial-warning-filled {
    }

    .testimonial.testimonial-warning-filled .testimonial-section {
        color: #fff;
        background-color: #f0ad4e;
        border-color: #eea236;
    }

    .testimonial.testimonial-warning-filled .testimonial-section:after {
        border-top-color: #F0AD4E;
    }

    .testimonial.testimonial-warning-filled .testimonial-desc {
    }

    .testimonial.testimonial-warning-filled .testimonial-desc img {
        border-color: #eea236;
        background-color: #f0ad4e;
    }

    .testimonial.testimonial-warning-filled .testimonial-writer-name {
        color: #F0AD4E;
    }

    .testimonial.testimonial-danger-filled {
    }

    .testimonial.testimonial-danger-filled .testimonial-section {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
    }

    .testimonial.testimonial-danger-filled .testimonial-section:after {
        border-top-color: #D9534F;
    }

    .testimonial.testimonial-danger-filled .testimonial-desc {
    }

    .testimonial.testimonial-danger-filled .testimonial-desc img {
        border-color: #d43f3a;
        background-color: #D9534F;
    }

    .testimonial.testimonial-danger-filled .testimonial-writer-name {
        color: #D9534F;
    }
    section {
        padding-top: 80px;
    }
    .panel-primary {
        border-color: #428bca;
    }

    .panel {
        margin: 14px;
        margin-bottom: 20px;
        color: #fcd505;
        border: 1px solid #ece7e7;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        padding: 10px;
        background: #f0f0f0;
    }
    .panel-footer {
        padding-bottom: 26px;
    }    
    .panel-body img {
        width: 100%;
    }
    .event-primary h2 {
        margin-top: 10px
    }

    .nopadding {
        padding: 0 !important
    }

    time {
        display: inline-block;
        width: 100%;
        color: rgb(255, 255, 255);
        padding: 5px;
        text-align: center;
    }

        time.pink {
            background-color: #fff;
            color: #000;
            min-height: 100%;
        }
    time.purple {
        background-color: #2c97de;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    }

    time.dkblue {
        background-color: #336699;
    }

    time.blue_green {
        background-color: #148aa5
    }

    time.blue_violet {
        background-color: #3714a4
    }

    time.brown {
        background-color: #964B00
    }

    time.crimson {
        background-color: #a50516
    }

    time.deep_pink {
        background-color: #fb3c8f
    }

    time.forest_green {
        background-color: #1b4f15
    }

    time.fuchsia {
        background-color: #a51497
    }

    time.gray {
        background-color: #686868
    }

    time.green {
        background-color: #3aa03a
    }

    time.hotpink {
        background-color: #ff0080
    }

    time.lemon {
        background-color: #fee233
    }

    time.ligh_blue {
        background-color: #8bbdeb
    }

    time.light_red {
        background-color: #fc6a6c
    }

    time.lime {
        background-color: #c1fd33
    }

    time.lime_green {
        background-color: #2bfd2f
    }

    time.magenta {
        background-color: #fc1cad
    }

    time.maroon {
        background-color: #7f2b14
    }

    time.midnight {
        background-color: #000066
    }

    time.olive {
        background-color: #2b4726
    }

    time.orange {
        background-color: #fd7222
    }

    time.orange_red {
        background-color: #fc331c
    }

    time.orange_yellow {
        background-color: #ffcc00
    }

    time.peach {
        background-color: #FFE5B4
    }

    time.red {
        background-color: #fc0d1b
    }

    time.red_orange {
        background-color: #d7462c
    }

    time.salmon {
        background-color: #f69e94
    }

    time.tan {
        background-color: #f2ddbf
    }

    time.teal {
        background-color: #2b8a6d
    }

    time.violet {
        background-color: #6b28ce
    }

    time.violet_blue {
        background-color: #6041fa
    }

    time.white {
        background-color: #ffffff
    }

    time.yellow {
        background-color: #feee35
    }

    time.yellow_green {
        background-color: #defd35
    }

    time.yellow_orange {
        background-color: #fec42e
    }


    .time {
        background-color: rgb(165, 82, 167);
    }

    time > span {
        display: none;
    }

    time > .day {
        display: block;
        font-size: 4em;
        font-weight: 100;
        line-height: 1;
    }

    time > .month {
        display: block;
        font-size: 24pt;
        font-weight: 900;
        line-height: 1;
    }

    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }

    .panel-primary > .panel-footer {
        color: #fff !important;
        background-color: #337ab7;
        border-color: #337ab7; 
    }
    .badge {
        display: none;
    }
</style>
    

</head>

<body id="page-top">

    <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/" style="color: #878787">INV<span style="
                                                                                                                            color: #fcd505;
                                                                                                                        ">I</span>CTUS <span style="
                                                                                                                                                                 color: #fcd505;
                                                                                                                                                             ">FOR THE MIND</span></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

   

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-heading">Daniel’s profile</h4>
                    <hr class="my-4" style="border-color: #fcd505;">
                </div>
            </div>




            <div class="row">

                <div class="col-md-12 text-center">
                    <div class="service-box mx-auto">
                        <h5 style="font-weight: bold">Your skills rank in</h5>
                    </div>
                </div>
            </div>
            <div class="row" style="
                                                                                                                                                                                                                                                                                                                                    padding-top: 18px;
                                                                                                                                                                                                                                                                                                                                    background: #2c97de;
                                                                                                                                                                                                                                                                                                                                    font-weight: bold;
                                                                                                                                                                                                                                                                                                                                    color: #fff;
                                                                                                                                                                                                                                                                                                                                    margin-bottom: 14px;
                                                                                                                                                                                                                                                                                                                                ">

                <div class="col-6 text-center" style="
                                                                                                                                                                                                                                                                                                                                                                         padding-left: 0;
                                                                                                                                                                                                                                                                                                                                                                     ">
                    <div class="service-box mx-auto mb-4">
                        <i class="fa fa-4x fa-users sr-icons" data-sr-id="2" style="; visibility: visible; -webkit-transform: scale(1); opacity: 1; transform: scale(1); opacity: 1; -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;"></i>
                        <p class="mb-0" style="">Logistics</p>
                    </div>
                </div>

                <div class="col-6 text-center" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          padding-left: 0;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ">

                    <div class="service-box mx-auto  mb-1">
                        <i class="fa fa-4x fa-briefcase sr-icons" data-sr-id="2" style="; visibility: visible; -webkit-transform: scale(1); opacity: 1; transform: scale(1); opacity: 1; -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;"></i>
                        <p class="">Project management</p>
                    </div>

                </div>

            </div>
            <div class="row">

                <div class="col-md-12 text-center">

                    <div class="service-box mx-auto mb-4">
                        <h5 style="font-weight: bold">Currently skills may show an aptitude to these live jobs</h5>
                    </div>
                </div>

                
                <div class="col-lg-3 col-md-6 text-center">
                    <div id="tb-testimonial" class="testimonial testimonial-default">
                        <div class="testimonial-section">
                            Business Analyst
                        </div>
                        <div class="testimonial-desc">
                            <div class="testimonial-writer">
                                <div class="testimonial-writer-namee">Technical Business Analyst</div>
                                <div class="testimonial-writer-designation">d-flo Limited</div>
                                <a href="#" class="testimonial-writer-company">Windsor</a>
                                
                            </div>
                            <button class="prevBtn">
                                    preview
                                </button>
                        </div>
                        <div class="testimonial-desc">
                            <div class="testimonial-writer">
                                <div class="testimonial-writer-namee">Business Analyst</div>
                                <div class="testimonial-writer-designation">Sweaty Betty</div>
                                <a href="#" class="testimonial-writer-company">London</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 text-center">


                    <div id="tb-testimonial" class="testimonial testimonial-default">
                        <div class="testimonial-section">
                            Product Manager
                        </div>
                        <div class="testimonial-desc">
                            <div class="testimonial-writer">
                                <div class="testimonial-writer-namee">Product Manager</div>
                                <div class="testimonial-writer-designation">Explore</div>
                                <a href="#" class="testimonial-writer-company">London</a>
                            </div>
                        </div>
                        <div class="testimonial-desc">
                            <div class="testimonial-writer">
                                <div class="testimonial-writer-namee">Junior Product Manager</div>
                                <div class="testimonial-writer-designation">Experian</div>
                                <a href="#" class="testimonial-writer-company">London</a>
                            </div>
                        </div>
                    </div>
                    

                </div>


            </div>


            <div class="row">
                <div class="col-md-12 text-center mb-4">
                    <hr class="my-4" style="border-color: #fcd505;">                                       
                </div>
            </div>


            <div class="row">

                <div class="col-sm-4 text-center mb-4">
                    <h5 style="font-weight: bold">Get a better understanding of your skills taking our quizzes</h5>
                    <img src="/Content/img/quizes.png" alt="event image" class="img-responsive" style="width: 100%;padding: 30px;padding-bottom: 6px;" onclick="document.location.href='/quizes'">
                </div>     
                
                <div class="col-sm-4 text-center mb-4">
                    <h5 style="font-weight: bold">Take your skills to the next level taking our online courses recommended for you</h5>
                    <img src="/Content/img/courses.png" alt="event image" class="img-responsive"  style="width: 100%;padding: 30px;" onclick="document.location.href='/courses'">
                </div> 
            </div>

        </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="/content/vendor/jquery/jquery.min.js"></script>
    <script src="/content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/content/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/content/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/content/js/creative.min.js"></script>
    <script>
        $(function() {
            if (document.location.href.indexOf('answered') > -1)
            {
                $(".no-score").hide();
                $(".answered-score").show();

                $('html, body').animate({ 
                        scrollTop: $(document).height()}, 
                    1400, 
                    "easeOutQuint"
                );
            }
        });
    </script>

</body>

</html>
